<style>
    .mb-0 {
        padding-left: 20px;
        padding-top: 10px;
    }
</style>

<div class="py-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card rounded-0">
                <div class="Card-header">
                    <h3 class="mb-0">Login</h3>
                </div>
                <div class="card-body">
                    <div class="form">
                        <div class="form-group">
                            <label for="InputEmail">Email Id</label>
                            <input type="email" class="form-control" [(ngModel)]="loginUserData.emailId"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>

                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control" [(ngModel)]="loginUserData.password"
                                id="InputPassword" placeholder="Password">
                        </div>
                        <div class="text-center">
                            <button type="submit" (click)="loginUser()" class="btn btn-success">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>