<div class="row py-5">
    <h5>Welcome to Inventory!</h5>
</div>

<div class="container py-3">
    <div class="row ">
        <div class="form col-md-12">
            <div class="form-group">
                <div class="row" style="overflow-x: scroll;">
                    <table class="table table-bordered" >
                        <thead>
                            <tr class="thead-dark">
                                <th scope="col">Flight No</th>
                                <th scope="col">Flight Name</th>
                                <th scope="col">From Location</th>
                                <th scope="col">To Location</th>
                                <th scope="col">Departure Date</th>
                                <th scope="col">Departure TIme</th>
                                <th scope="col">Arrival Date</th>
                                <th scope="col">Arrival TIme</th>
                                <th scope="col">No of Seats</th>
                                <th scope="col">Price</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dynamic of flightDataArray; let i = index;">
                                <td>
                                    <input placeholder="Enter Flight number" style="width: auto;" [(ngModel)]="flightDataArray[i].flightNo" class="form-control" type="text" />
                                </td>
                                <td>
                                    <input placeholder="Enter Flight name" style="width: auto;"  [(ngModel)]="flightDataArray[i].flightName" class="form-control"
                                        type="text" />
                                </td>
                                <td>
                                    <input placeholder="Enter from location" style="width: auto;"  [(ngModel)]="flightDataArray[i].fromLocation" class="form-control"
                                        type="text" />
                                </td>
                                <td>
                                    <input placeholder="Enter to location" style="width: auto;"  [(ngModel)]="flightDataArray[i].toLocation" class="form-control"
                                        type="text" />
                                </td>
                                <td>
                                    <input [(ngModel)]="flightDataArray[i].departureDate" class="form-control"
                                        type="date" />
                                </td>
                                <td>
                                    <input [(ngModel)]="flightDataArray[i].departureTime" class="form-control"
                                        type="time" />
                                </td>
                                <td>
                                    <input [(ngModel)]="flightDataArray[i].arrivalDate" class="form-control"
                                        type="date" />
                                </td>
                                <td>
                                    <input [(ngModel)]="flightDataArray[i].arrivalTime" class="form-control"
                                        type="time" />
                                </td>
                                <td>
                                    <input placeholder="Enter number of seats" style="width: auto;"  [(ngModel)]="flightDataArray[i].noOfSeats" class="form-control"
                                        type="text" />
                                </td>
                                <td>
                                    <input placeholder="Enter price" style="width: auto;"  [(ngModel)]="flightDataArray[i].price" class="form-control" type="text" />
                                </td>
                                <td>
                                    <span style="float: left;"><i (click)="addRow(i)"
                                            class="fa fa-plus fa-lg"></i></span>
                                    <span style="float: right;"><i (click)="deleteRow(i)"
                                            class="fa fa-trash fa-lg"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row col-md-12">
                        <button type="submit" (click)="addInventory()" class="btn btn-success my-3">Add Flight(s)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>